<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <p>4 Years of experience in Data Warehousing ang Big Data technologies with experience in application developement using Python. </p>
	<h4 class="section-title">Highlights</h4>
	<ul style="list-style-type:disk">
	<li>Worked on big data technologies like Hadoop(MapR), Sqoop, Hive, HBase, Drill and Spark(pyspark,sparklyr).</li>
	<li>Well versed with programming languages such as Python, R and Java.</li>
	<li>Strong in developing automation tools using UNIX Shell scripting, Python, Java and Teradata Utilities.</li>
	<li>Familiar with programming Spark applications using pyspark and sparklyr.</li>
	<li>Skilled in using statistical methods including exploratory data analysis, regression analysis and cross-validation.</li>
	<li>Worked extensively on Data warehousing tools like Informatica PowerCenter, Golden Gate and very good exposure with database systems like Teradata and Oracle</li>
	<li>Experienced in creating interactive Shiny applications for dashboards and publishing visualizations.</li>
	</ul>
</div><!--//summary-->
</section><!--//section-->