<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Senior Software Engineer</h3>
                            <div class="time">2017 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Tech Mahindra, Hyderabad</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Worked with Data Scientists, performed data preprocessing as per their requirement and provided the cleaned dataset.</p>
                        <p>Created Predictive models Using Regression and Classification Algorithms like Linear Regression, Regularized Linear Regression(Lasso,Ridge),Logistic Regression, Decision Trees, Random Forest, SVM, Naive Bayes, Gradient Boosted Machines.</p>
						<p>Implemented clustering of data points using K-Means and Hierarchial clustering mrthods.</p>
						<p>Loaded Data from MapR Cluster to RStudio server and performed data cleaning and model creation.</p>
						<p>Developed Python applications </p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Engineer</h3>
                            <div class="time">2013 - 2017</div>
                        </div><!--//upper-row-->
                        <div class="company">Tech Mahindra, Hyderabad</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Performing sanity checks on Non production environments of Informatica, Teradata, Cisco Tidal, Golden Gate and Preforming pre-flow validations.</p>
                        <p>Automating regular tasks using Unix Shell scripting, Python, Java and Teradata BTEQ utility.</p>
						<p>Performing system testing on newly installed Teradata servers and supporting the data migration.</p>
						<p>Generating sub setting scripts for creating new Database instances from the production environment.</p>
						<p>Proposing optimized data copy plans to reduce instance size hence reducing data copy time and analyzing space utilization of databases to generate reports and dashboards using Tableau.</p>
						<p>Involved in designing git flow for EDW projects and implementred Automated Continous Integration using Jenkins.</p>
					</div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->