<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
        	
		<div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Senior Software Engineer</h3>
                            <div class="time">2018 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Tech Mahindra, San Jose</div>
                    </div><!--//meta-->
                    <div class="details">
					    <p>Designed and developed REST based web applications using Spring Boot framework.</p>
                    	    <p>Created Batch processing application using Spring Batch for processing large dataset and persisting to HBase</p>
                            <p>Used Kafka Connect to load data from source systems like Oracle, HDFS, SAP HANA and export to Solr, Teradata and HDFS.</p>
						<p>Created tool for Kafka using python to perform administrative tasks and providing ACLs. </p>
						<p>Data modelling for HBase tables to achive optimum query time</p>
						<p>Designed and developed a recoinciliation framework using Spark for ensuring data quality for streaming application </p>
                    </div><!--//details-->
                </div><!--//item-->
	
	
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Senior Software Engineer</h3>
                            <div class="time">2017 - 2018</div>
                        </div><!--//upper-row-->
                        <div class="company">Tech Mahindra, Hyderabad</div>
                    </div><!--//meta-->
                    <div class="details">
					    <p>Installed and Configured Kafka brokers. Developed Kafka consumer and producer applications using Java API and python module.</p>
                        <p>Worked with Data Scientists, performed data preprocessing as per their requirement and provided cleaned datasets.</p>
                        <p>Created Predictive models Using Regression and Classification Algorithms like Linear Regression, Regularized Linear Regression(Lasso,Ridge),Logistic Regression, Decision Trees, Random Forest, SVM, Naive Bayes, Gradient Boosted Machines.</p>
						<p>Implemented clustering of data points using K-Means and Hierarchial clustering methods.</p>
						<p>Using RStudio server performed data processing and created predictive models.</p>
						<p>Developed web applications using Django web framework. </p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Engineer</h3>
                            <div class="time">2013 - 2017</div>
                        </div><!--//upper-row-->
                        <div class="company">Tech Mahindra, Hyderabad</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Performing sanity checks on Non production environments of Informatica, Teradata, Cisco Tidal, Golden Gate and Preforming pre-flow validations.</p>
                        <p>Automating regular tasks using Unix Shell scripting, Python, Java and Teradata BTEQ utility.</p>
						<p>Performing system testing on newly installed Teradata servers and supporting the data migration.</p>
						<p>Generating sub setting scripts for creating new Database instances from the production environment.</p>
						<p>Proposing optimized data copy plans to reduce instance size hence reducing data copy time and analyzing space utilization of databases to generate reports and dashboards using Tableau.</p>
						<p>Involved in designing git flow for EDW projects and implementred Continous Integration using Jenkins.</p>
					</div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->
