<style>
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}
</style>
<h2 class="section-title"><i class="fa fa-briefcase"></i>Gallery</h2>
<div class="gallery">
  <a target="_blank" href="{{site.baseurl}}/assets/images/incident_dashboard.png">
    <img src="{{site.baseurl}}/assets/images/incident_dashboard.png" alt="Incident Dashboard" width="300" height="200">
  </a>
  <div class="desc">Incident Data Dashboard created using R Shiny app</div>
</div>

<div class="gallery">
  <a target="_blank" href="{{site.baseurl}}/assets/images/banana_dashboard.png">
    <img src="{{site.baseurl}}/assets/images/banana_dashboard.png" alt="Log Analytics Dashboard" width="600" height="400">
  </a>
  <div class="desc">Log Analytics Dashboard created using Banana from Solr Collection.</div>
</div>

<div class="gallery">
  <a target="_blank" href="{{site.baseurl}}/assets/images/motion_chart.png">
    <img src="{{site.baseurl}}/assets/images/motion_chart.png" alt="World Popular Indicators" width="600" height="400">
  </a>
  <div class="desc">Shiny application showing comaprison of Popular Indicators for a period of 50 years</div>
</div>

<br></br>