<div class="interests-container container-block">
<h2 class="container-block-title">Certifications</h2>
<ul class="list-unstyled interests-list">
<li class="cert1"><a href="https://courses.cognitiveclass.ai/certificates/f1992d4bdbe74f58a16b33be04c67d9f" target="_blank">Solr 101</a></li>
<li class="cert2"><a href="https://www.datacamp.com/statement-of-accomplishment/course/8d70ffc310da93e9416cf9df44625a6c76b481e8" target="_blank">Intro to Statistics with R: Introduction Course</a></li>
<li class="cert3"><a href="https://www.datacamp.com/statement-of-accomplishment/course/cbc2a38915848e64f812bb1e50ed16f24b5e6ad2" target="_blank">Introduction to Spark in R using sparklyr</a></li>
<li class="cert4"><a href="https://www.datacamp.com/statement-of-accomplishment/course/f1eab80c229db1e838f72c5c1651a5330a36c054" target="_blank">Intro to Python for Data Science Course</a></li>
<li class="cert5"><a href="https://www.datacamp.com/statement-of-accomplishment/course/68c636910bdd140398f8c08b82095ff8971d3600" target="_blank">Deep Learning in Python Course</a></li>
<li class="cert6"><a href="https://university.mongodb.com/course_completion/d83a0c0558264da1bf3921bd4620f82a" target="_blank">MongoDB for DBAs</a></li>
</ul>
</div><!--//interests-->
