<div class="interests-container container-block">
<h2 class="container-block-title">Certifications</h2>
<ul class="list-unstyled interests-list">
<li class="cert1"><a href="https://www.datacamp.com/statement-of-accomplishment/course/8d70ffc310da93e9416cf9df44625a6c76b481e8" target="_blank">Intro to Statistics with R: Introduction Course</a></li>
<li class="cert2"><a href="https://www.datacamp.com/statement-of-accomplishment/course/cbc2a38915848e64f812bb1e50ed16f24b5e6ad2" target="_blank">Introduction to Spark in R using sparklyr</a></li>
</ul>
</div><!--//interests-->
