<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                </div><!--//intro-->
				<div class="item">
                    <span class="project-title"><a href="#" target="_blank">Kafka POC</a></span> - 
                    <span class="project-tagline"></span>
					<ul style="list-style-type:disk">
					<li class="cert1">Installed and Configured Confluent Kafka cluster with multiple brokers.</li>
					<li class="cert2">Created Kafka Producer and Consumer applications using the Java API and Python module.</li>
					<li class="cert3">Familiar with Avro Producer and Avro Consumer.</li>
					<li class="cert4">Created Kafka Connect to pull data from and push data to Kafka.<li> 
					</ul>
                </div><!--//item-->
				
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Log Analytics</a></span> - 
                    <span class="project-tagline">Performing log analytics on hadoop ecosystem application logs to detect anomalies.</span>
					<ul style="list-style-type:disk">
					<li class="cert1">Installed and configured Logstash and Solr for log collection and Indexing</li>
					<li class="cert2">Analysed different log messages and created grok patterns to identify the important fields.</li>
					<li class="cert3">Created Banana dashboards to visualize the error for analysis</li>
					<li class="cert4">Clustered error messages to similar groups using K means based document clustering in Python and R.</li>
					</ul>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Supply Chain Analytics POC</a></span> - <span class="project-tagline">Predicting orders with a high probability to expedite during order generation t reduce the profit loss due to order delay</span>
					<ul style="list-style-type:disk">
					<li class="cert1">Performed Exploratory Data Analysis on the data to identify important variables.</li>
					<li class="cert2">Created predictive models in R using algorithms like Linear Regression, Decision Trees and Random Forest.</li>
					<li class="cert3">Prepared Visualizations and reproducible reports in R</li>
					</ul>
				</div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Deffered Revenue POC</a></span> - <span class="project-tagline">Predicting the defered revenue in advance </span>
					<ul style="list-style-type:disk">
					<li class="cert1">Loaded the data into hadoop ecosystem and created Hive tables.</li>
					<li class="cert2">Accessed Hive data in R Studio and performed data cleansing.</li>
					<li class="cert3">Created predictive model on the data and wrote the result back to Hive tables</li>
					</ul>
				</div><!--//item-->
				<div class="item">
                    <span class="project-title"><a href="#" target="_blank">MapR ACE Generator</a></span> - <span class="project-tagline">A Unix shell based application to provide MapR ACE commands based on the end user reqquirement.</span>
					<ul style="list-style-type:disk">
					<li class="cert2">Involved in designing, developement and testing of the application.</li>
					<li class="cert1">Generated MapR ACE commands to provide different access to users/roles based on the existing permissionsa and user requirement.</li>
					<li class="cert2">Used Shell script and python for coding the application</li>
					</ul>
				</div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">World Popular Index Data Analysis</a></span> - <span class="project-tagline">A Shiny application to analyse country wise Popular indices for a period of 50 years.</span>
					<ul style="list-style-type:disk">
					<li class="cert1">Cleansed the dataset downloaded from the World Bank site using R.</li>
					<li class="cert2">Used Google Visualization library to create Motion chart.</li>
					<li class="cert3">Created shiny app and published it.</li>
					</ul>
				</div><!--//item-->
            </section><!--//section-->